.registracijos-forma, 
.prisijungimo-forma {
    display: none;
}

#timer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: green;
    border-radius: 5px;
    padding: 15px;
    color: white;
}

.my-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /* background: red; */
    /* opacity: 0.5; */
    background: rgba(0,0,0, 0.6);
    display: none;
}

.my-modal-body {
    width: 80%;
    background: white;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    position: relative;
}

.close-modal {
    position: absolute;
    top: -15px;
    right: -15px;
    color: white;
    background:black;
    padding: 10px;
    border-radius: 100%;
    cursor: pointer;
}